body
{
    color: #333;
    text-align: center;
    font-family: "arial";
    font-size: 20px;
    margin: 0;
    padding 0
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 2px solid #DDD;
}
#container h1
{
    font-size: 20px;
}